<nav class="header-nav {% if site.scrollappear_enabled %}appear{% endif %}">
  <a href="{{ '/' | relative_url }}" class="header-logo" title="{{ site.name }}">{{ site.name }}</a>
  <ul class="header-links">
    {% if site.about_enabled == true %}
      <li>
        <a href="{{ 'about' | relative_url }}">
          About
        </a>
      </li>
    {% endif %}
    {% if site.social.resume %}
      <li>
        <a href="{{ site.social.resume }}" rel="noreferrer noopener" target="_blank">
          Resume
        </a>
      </li>
    {% endif %}
    {% if site.social.github %}
      <li>
        <a href="https://github.com/{{ site.social.github }}" rel="noreferrer noopener" target="_blank">
          Github
        </a>
      </li>
    {% endif %}
    {% if site.social.linkedin %}
      <li>
        <a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" rel="noreferrer noopener" target="_blank">
          LinkedIn
        </a>
      </li>
    {% endif %}
    {% if site.social.email %}
      <li>
        <a href="mailto:{{ site.social.email }}">
          Email
        </a>
      </li>
    {% endif %}
    {% if site.rss_enabled == true %}
      <li>
        <a href="{{ 'feed.xml' | relative_url }}" rel="noreferrer noopener" target="_blank" title="RSS">
          <span class="icon icon-rss"></span>
        </a>
      </li>
    {% endif %}
  </ul>
  <h5>{{ site.description }}</h5>
</nav>
